{
	admin off
}

{$AGENT_WORLD_SITE_ADDRESS} {
	encode zstd gzip
	handle /oauth* {
		reverse_proxy native-chat-auth:3002 {
			header_up X-Forwarded-Proto https
			header_up X-Real-IP {client_ip}
		}
	}
	handle /.well-known/oauth-authorization-server/oauth {
		reverse_proxy native-chat-auth:3002 {
			header_up X-Forwarded-Proto https
			header_up X-Real-IP {client_ip}
		}
	}
	handle {
		reverse_proxy web:3000
	}
	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
	}
	log {
		output stdout
		format json
	}
}
